* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;

}
:root{
    --cor-primaria:#f8f8f8;
    --cor-secundario:#242424;
    --cor-terciario:#ccc;
}

h1{
    text-align: center;
    font-size: 38px;
    padding: 40px 0;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
}
/*CABEÇALHO*/
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    background-image: url(Imagens/fundo-preto.jpg);
    background-size: cover;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    z-index: 9999; 
}

.container-logo {
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.link-inicio:hover{
    border-bottom:none ;
}

.container-logo img {
    width: 100px;
}
.texto-logo{
    color:var(--cor-primaria);
    padding-left: 5px;
}
.texto-logo p{
    letter-spacing: 8px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
}
.texto-logo h2{
    font-family: "Oswald", sans-serif;
    font-size: 32px;

}

.menu-desktop .link-list li { 
    display: inline;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 20px;
}
a:hover{
    border-bottom: solid 2px var(--cor-primaria);
}

.menu-desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 300px;
    gap: 10px;
}
a{
    color:var(--cor-primaria);
}
 .style-contact {
    background-color: var(--cor-primaria);
    padding: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}


.link-contato button:hover {

    background-color: var(--cor-secundario);
    color: var(--cor-primaria);
}
.link-contato:hover{
    border-bottom: none;
}

/*CABEÇALHO*/

/*BANNER*/
.container-banner {
    background-image: url(Imagens/foto\ de\ fundo.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    height: 100vh;
    z-index: 1
}
.container-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
    z-index: -1;
}
.container-banner{
    display: flex;
    align-items:center;
    flex-wrap: wrap; 
}
.texto-banner h2{
    font-size: 62px;
    letter-spacing: 2px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    color: var(--cor-primaria);  
}

.texto-banner {
    width: 45vw;
    display: flex;
    flex-direction: column; 
}
.bnt-saiba-contato{
    margin: 0 auto;
    width: 100%;
}
.btn-saiba button{
    padding: 15px 30px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundario);
    border-radius: 12px;
    font-size: 18px;
    border: none;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

.btn-saiba button:hover{
    background-color:var(--cor-secundario);
    color: var(--cor-primaria);   
}
.rede-sociais{
    position: relative;
    right: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 
}
.rede-sociais i {
    font-size: 28px;
    padding: 16px;
    background-color: var(--cor-primaria);
    border-radius: 12px;
    display: flex;
    gap: 15px;
    color:var(--cor-secundario); 
}

.rede-sociais i:hover{
    background-color:var(--cor-secundario);
    color:var(--cor-primaria);
    border-bottom: none;

}
.rede-sociais a:hover{
    background-color:var(--cor-secundario);
    color:var(--cor-primaria);
    border-radius: 12px;
    border-bottom: none;

}

/*BANNER*/

/*SOBRE MIM*/
.imagem-sobre-mim img{
    width: 28vw;
    height: 70vh;
    border-radius: 16px;
}
.container-sobre-mim{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.texto-sobre-mim{
    width: 600px;
    font-size: 24px;
}
.sobre-mim{
    background-image: url(Imagens/fundo-preto.jpg);
    background-size:cover;
    padding: 30px 0;
    color: var(--cor-primaria);
    font-family: "Oswald", sans-serif;
    padding-bottom: 100px;
}

/*SOBRE MIM*/

/*EVENTOS*/

.sessao-eventos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    max-width: 100%; 
    padding: 20px;
    margin: 0 auto; 
    
}
.container-eventos {
    padding: 50px 0;

}
.container-eventos{
    
    background-image: url(Imagens/fundo-branco.jpg);
    background-size: cover;
    height: 100vh;
    
}


.sessao-eventos div {
    position: relative;
    overflow: hidden; 
    text-align: center;
    cursor: pointer;

}

.sessao-eventos img {
    width: 100%;
    height: 400px;
    display: block;
    border-radius: 10px;
}


.sessao-eventos div:hover img {
    opacity: 0.3; 
    
}
.descricao {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color:var(--cor-secundario);
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    opacity: 0; 
    transition: opacity 0.2s ease-in-out;
    width: 80%; 
    text-align: center;
}
.informacao-extra {
    display: none; 
    text-align: center;
    font-size: 21px;
    font-family: "Oswald", sans-serif;
    color:var(--cor-secundario);
    margin-top: 5px;
}
/*EVENTOS*/

/*PRIMEIRA SESSÃO DE MÚSICAS TOCADAS*/
.primeira-sessao-musica{
    background-image: url(Imagens/fundo-preto.jpg);
    background-size: cover;
    padding: 30px 0;
    color: var(--cor-primaria);
}
.primeiro-container-musica{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0; 
}
.primeira-sessao-musica img{
    width: 28vw;
    height: 70vh;
    border-radius: 15px;
}

.primeiro-sessao-musica-texto{
    width: 50vw;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}
.primeiro-sessao-musica-texto h2{
    font-size: 38px;
    padding-bottom: 20px;
    color: var(--cor-primaria);
    padding-bottom: 36px;
}
.primeiro-sessao-musica-texto li a{
    font-size: 24px;

}
/*PRIMEIRA SESSÃO DE MÚSICAS TOCADAS*/

/*SEGUNDA SESSÃO DE MÚSICAS TOCADAS*/
.segunda-sessao-musica{
    background-color: var(--cor-secundario);
    margin: 50px 0;
    padding: 30px 0;
}
.segundo-container-musica{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0; 
    flex-direction: row-reverse;
}
.segunda-sessao-musica img{
    width: 28vw;
    height: 70vh;
    border-radius: 15px;
}

.segunda-sessao-musica h1{
    color: var(--cor-primaria);
}
.segunda-sessao-musica-texto{
    width: 50vw;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}
.segunda-sessao-musica-texto h2{
    font-size: 38px;
    padding-bottom: 20px;
    color: var(--cor-primaria);
    text-align: right;
    padding-bottom: 36px;
}
.segunda-sessao-musica-texto li {
    font-size: 24px;
    text-align: right;
}

/*CONTATO*/
.sessao-contato {
    background-image: url(Imagens/fundo-branco.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
}
form {
    max-width: 500px;
    margin: 0 auto;
    background:var(--cor-primaria);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    
}
input, .btn-contato {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--cor-terciario);
    border-radius: 5px;
}
 .btn-contato {
    background:var(--cor-secundario);
    color:var(--cor-primaria);
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.btn-contato:hover {
    background:var(--cor-terciario);
    color:var(--cor-secundario);
}
select{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--cor-terciario);
    border-radius: 5px;
    
}
label{
    color:var(--cor-secundario);
    font-family: "Oswald", sans-serif;

}

footer{
    background-image: url(Imagens/fundo-preto.jpg);
    background-size: cover;
    flex-direction: column;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    color:var(--cor-primaria);
}
.rede-sociais-rodape{
    display: flex;
    flex-direction: row;

}
.rede-sociais-rodape li i{
    padding: 16px;
    color:var(--cor-primaria);
    font-size: 30px;
    margin: 0 auto;
}    
.rede-sociais-rodape a:hover{
    border-bottom:none;

}
/*CONTATO*/

/*MENU HAMBURGUER*/
.btn-abrir-menu i{
    color: var(--cor-primaria);
    font-size: 35px;
    cursor: pointer;
    display: none;
}
.menu-mobile{
    background-color: #242424;
    height: 100%;
    position: fixed;
    top:0;
    right: 0;
    z-index: 999;
    width:0%;
    overflow: hidden;
    transition: .4s;

}
.menu-mobile.abrir-menu{
    width: 70%;
}
.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}
.menu-mobile .nav-mob ul{
    text-align: right;
    
}
.menu-mobile .nav-mob ul a{
    color: var(--cor-primaria);
    font-size: 20px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    display: block;
    border-bottom: none;
    padding: 20px 10px;

}
.menu-mobile .nav-mob ul li a:hover{
    background-color: var(--cor-primaria);
    color: var(--cor-secundario);
}
.menu-mobile .btn-fechar{
    padding: 20px 15px;
    cursor: pointer;
}
.menu-mobile .btn-fechar i{
    color: var(--cor-primaria);
    font-size: 30px;

}
.overlay-menu{
    background-color:#24242486;
    width: 100%;
    height:100%;
    position: fixed;
    top: 0;
    left:0;
    z-index: 777;
    display: none;
}

@media (min-width:300px) and (max-width:500px) {
    .container-logo img {
        width: 80px;
    }
    .texto-logo h2{
        font-size: 28px;
    }
    .texto-logo p{
        font-size: 12px;
    }

    .menu-desktop{
        display: none;

    }
    .btn-abrir-menu i{
        display: ruby;
        padding-right: 5px;
    }
    header{
        display: flex;
        align-items: center;
    }
    .container-banner {
        flex-direction:column-reverse;
        align-items: center;
        height: 75vw;
    }

     .rede-sociais {
        display: none;
    }

    .texto-banner h2{
        font-size: 24px;
    }
    .texto-banner {
        width: 70vw;
        margin: 0 auto;
        bottom: 1em;
        left: auto;
        right: auto;
    }
    .btn-saiba button {
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 14px;
        margin: 10px;
    }

    .container-sobre-mim {
        flex-direction: column;
    }
    .sobre-mim h1{
        font-size: 26px;
    }
    .texto-sobre-mim{
        width: 80vw;
    }
    .sobre-mim h3{
        font-size: 20px;
        text-align: center;
        padding-bottom: 30px;
    }
    .imagem-sobre-mim img{
        width: 70vw;
        height: 50vh;
        border-radius: 12px;
    }
    .container-eventos{
        height: 100%;
    }
    .sessao-eventos{
        grid-template-columns: repeat(1, 4fr); 
        margin: 0 auto;
        max-width: 80%; 

    }
    .sessao-eventos img{
        height: 48vh;

    }
    .container-eventos h1{
        font-size: 30px;
    }

    .primeiro-container-musica, .segundo-container-musica{
        display: flex;
        flex-direction: column;
    }
    .primeiro-sessao-musica-texto {
        text-align:left;
        width: 80vw;
        margin: 0 auto;
        font-size: 28px;
    }
    .segunda-sessao-musica-texto{
        width: 80vw;
        margin: 0 auto;
        font-size: 28px;
    }
    .primeiro-sessao-musica-texto h2, .segunda-sessao-musica-texto h2{
        font-size: 26px;
    }
    .primeiro-sessao-musica-texto li a{
        font-size: 20px;
    }
    .segunda-sessao-imagem, .sessao-imagem{
        display: none;
    }
    .sessao-contato{
        height: 80vh;
        
    }
    form{
        max-width: 90%;
    }

}
